<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<base href="/">

		<title>Time to Travel</title>

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/master.css">
		<link rel="stylesheet" href="css/base.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<a class="navbar-brand" href="#">ttt-js</a>
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Search</a></li>
			</ul>
		</nav>
		<div class="container-fluid">
			<div class="row">
					<div id="content"></div>
			</div>
		</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8QYu-O5kfs82YO_T_NbrBqUM-kca6DOw"></script>
		<script type="text/babel" src="js/travel-react.js"></script>
	</body>
</html>
