<div class="search-header">
  <div class="container">
    
    <div class="row">
      <div class="col-md-4 searchbar">
        
        <form>
          <h2 class="v-center">Search</h2>
          
          <div class="input-group">
            <input type="text" class="form-control input-md" ng-model="number"/>
            <span class="input-group-btn">
            	<button type="submit" class="btn btn-md btn-warning pull-right" ng-click="search()">
            		Search
            	</button>
            </span>
          </div>  
        </form>
        <div ng-repeat="entry in reminders">
          <h1> Here's One! </h2>
      </div>
  </div>
  </div>
</div>