<div class="container">
    <div class="row">
        
        <form>
          <h2 class="v-center">Search</h2>
          
          <div class="input-group">
            <input type="text" class="form-control input-md" ng-model="number"/>
            <span class="input-group-btn">
            	<button type="submit" class="btn btn-md btn-warning pull-right" ng-click="search()">
            		Search
            	</button>
            </span>
          </div>  
        </form>
        <div ng-repeat="reminder in reminders">
          <div class="reminder">
            <h4>From {{reminder.origin}} to {{reminder.destination}}</h4>
            <p>
              At: {{reminder.time}}
            </p>
            <a href="api/delete/{{reminder.id}}" class="btn btn-md btn-primary"> Remove </a>
          </div>
        </div>
      </div>
    </div>