<div class="container">
	<div class="row">
	<h1> Time to Travel!</h1>
	<div id="map"></div>
		<form>
					<h2> Origin </h2>
					<input type="text" class="form-control" ng-model="origin"/>
					<h2> Destination </h2>
					<input type="text" class="form-control" ng-model="destination"/>
					<h2> What time? </h2>
					<input type="time" class="form-control" ng-model="time">
					<h2> What days? </h2>
					<div class="checkbox">
				    	<label>
				    		<input type="checkbox"> Monday <br />
				    		<input type="checkbox"> Tuesday <br />
				    		<input type="checkbox"> Wednesday <br />
				    		<input type="checkbox"> Thursday<br />
				    		<input type="checkbox"> Friday <br />
				    		<input type="checkbox"> Saturday <br />
				    		<input type="checkbox"> Sunday <br />
				    	</label>
  					</div>
					<button type="submit" class="btn btn-primary btn-block">
						Remind Me!
					</button>
			</form>
		</div>
	</div>
