<div class="container">
	<div class="row">
		<form>
					<h2> Origin </h2>
					<input type="text" class="form-control" ng-model="origin"/>
					<h2> Destination </h2>
					<input type="text" class="form-control" ng-model="destination"/>
					<h2> Phone Number </h2>
					<input type="text" class="form-control" ng-model="phone"/>
					<h2> Carrier </h2>
					<select ng-model="carrier">
  						<option value="T-Mobile">T-Mobile</option>
  						<option value="ATT">ATT</option>
  						<option value="Verizon">Verizon</option>
  						<option value="Sprint">Sprint</option>
					</select>
					<h2> What time? </h2>
					<input type="Time" class="form-control" ng-model="time">
					<h2> What days? </h2>
					<div class="checkbox">
				    	<label>
				    		<input type="checkbox" ng-model="monday"> Monday <br />
				    		<input type="checkbox" ng-model="tuesday"> Tuesday <br />
				    		<input type="checkbox" ng-model="wednesday"> Wednesday <br />
				    		<input type="checkbox" ng-model="thursday"> Thursday<br />
				    		<input type="checkbox" ng-model="friday"> Friday <br />
				    		<input type="checkbox" ng-model="saturday"> Saturday <br />
				    		<input type="checkbox" ng-model="sunday"> Sunday <br />
				    	</label>
  					</div>
					<button type="submit" class="btn btn-primary btn-block" ng-click="add()">
						Remind Me!
					</button>
			</form>
		</div>
	</div>
